.navigation {
	display: flex;
	justify-content: flex-end;
	padding: 0 100px;
	transition: 0.2s ease-in;
  margin-bottom: 40px;
  font-size: 1.2rem;
  width: 100%;
  @media only screen and (max-width: 420px){
    justify-content: center;
    padding: 0 25px;
  }

	background: #141618;
	a {
		color: white;
		text-decoration: none;
    padding: 30px 20px;
    @media only screen and (max-width: 420px){

    }

		span {
			display: inline-block;
      position: relative;
      padding: 1px 0 0 0;
			top: -8px;
			left: 3px;
			font-weight: bold;
			line-height: 18px;
			text-align: center;
			background: lightcoral;
			border-radius: 100%;
			width: 18px;
			height: 18px;
		}
	}
}
